<form class="mt-4" method="post">
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="search" class="form-control" name="q" id="search-input" placeholder="Enter search">
  </div>
  <button class="btn btn-primary">Tim Kiem</button>
</form>